{{#if updatePostForm}}
  <h2>Update Post</h2>
  <form>
    <div class="input-field col s6">
      {{input value=title id="title" placeholder=post.title}}
    </div>
    <div class="input-field col s6">
      {{input value=date id="date" placeholder=post.date}}
    </div>
    <!-- make date auto fill eventually -->
    <div class="input-field col s6">
      {{input value=content id="content" placeholder=post.content}}
    </div>
    <div class="input-field col s6">
      {{input value=image id="image" placeholder=post.image}}
    </div>
    <button class="btn" {{action 'update' post}}>Save Post</button>
  </form>
{{else}}
  <button class="btn" {{action 'updatePostForm'}}>Update Post</button>
{{/if}}
